.notepad {
  padding: 16px 80px 16px (80px-55px-8px);

  .block {
    padding: 8px 0;

    &:hover>.block__options {
      opacity: 1;
    }

    .block__options {
      opacity: 0;
      margin-right: 8px;

      svg {
        height: 1rem;
      }
    }
  }

  .extension {
    height: 100%;
    width: 100%;
    padding: 0 4px;
  }

  .extension--text {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 4px 0;
    overflow-y: auto;

    *[contenteditable="true"] {
      height: 100%;

      //   background: #ccc;
    }
  }

  .extension--image img {
    width: 100%;
  }
}
