.notepad {
  padding: 16px 0;
  overflow-x: hidden;

  .line {
    padding: 0 80px 16px 80px;
  }

  .block {
    height: 100%;
    width: 100%;
    display: flex;
    background: #eee;

    &:hover>.block__options {
      opacity: 1;
    }

    .block__options {
      opacity: 0;
      margin-right: 8px;
      margin-left: -30px;

      svg {
        height: 1rem;
      }

      .btn {
        width: 30px;
      }
    }

    .block__content {
      flex-grow: 1;
    }
  }

  .block--text {
    border: none;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 4px 0;

    *[contenteditable="true"] {
      height: 100%;
      overflow-wrap: break-word;
      word-break: break-word;
    }
  }

  .block--image img {
    width: 100%;
  }
}
