.notepad {
  padding: 16px 0;
  overflow-x: hidden;
}

.notepad .line {
  padding: 0 80px 16px 80px;
}

.notepad .block {
  height: 100%;
  width: 100%;
  display: flex;
  background: #eee;
}

.notepad .block:hover > .block__options {
  opacity: 1;
}

.notepad .block .block__options {
  opacity: 0;
  margin-right: 8px;
  margin-left: -30px;
}

.notepad .block .block__options svg {
  height: 1rem;
}

.notepad .block .block__options .btn {
  width: 30px;
}

.notepad .block .block__content {
  flex-grow: 1;
}

.notepad .block--text {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 4px 0;
}

.notepad .block--text *[contenteditable=true] {
  height: 100%;
  overflow-wrap: break-word;
  word-break: break-word;
}

.notepad .block--image img {
  width: 100%;
}

.modal__tabs {
  margin-bottom: 16px;
}

.file-list-item {
  display: flex;
  flex-direction: row;
  margin: 0 -20px;
  align-items: center;
}

.file-list-item .file-list-item__image {
  margin: 0 8px;
}

.file-list-item .file-list-item__info {
  flex-grow: 1;
}

.file-list-item .file-list-item__title {
  font-weight: bold;
}

.file-list-item .file-list-item__actions svg {
  height: 1rem;
}

.list-group-item:first-child {
  border-top: none;
}

.file-upload {
  margin: -16px -16px 16px -16px;
  padding: 16px;
  background: #eeeeee;
  border-bottom: 1px solid #dee2e6;
}

.file-upload .file-upload__row {
  display: flex;
}

.file-upload .file-upload__row input {
  flex-grow: 1;
}

.file-upload .file-upload__limit {
  color: #6c757d;
  font-size: 12px;
  text-align: center;
  margin-top: 8px;
}

