.notepad {
  padding: 16px 0;
}

.notepad .block {
  padding: 0 80px 16px 17px;
}

.notepad .block:hover > .block__options {
  opacity: 1;
}

.notepad .block .block__options {
  opacity: 0;
  margin-right: 8px;
}

.notepad .block .block__options svg {
  height: 1rem;
}

.notepad .extension {
  height: 100%;
  width: 100%;
  padding: 0 4px;
}

.notepad .extension--text {
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 4px 0;
  overflow-y: auto;
}

.notepad .extension--text *[contenteditable=true] {
  height: 100%;
}

.notepad .extension--image img {
  width: 100%;
}

